In [15]:
import nltk
import numpy as np
import pandas as pd
import matplotlib as plt

In [53]:
df_train = pd.read_csv("train.csv")
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [54]:
df_train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [55]:
len(df_train)

7613

In [56]:
df_train.drop(columns=['location'], inplace = True)
df_train.head()

   id keyword                                               text  target
0   1     NaN  Our Deeds are the Reason of this #earthquake M...       1
1   4     NaN             Forest fire near La Ronge Sask. Canada       1
2   5     NaN  All residents asked to 'shelter in place' are ...       1
3   6     NaN  13,000 people receive #wildfires evacuation or...       1
4   7     NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [57]:
df_train['keyword'].fillna(" ", inplace = True)
df_train.head()

   id keyword                                               text  target
0   1          Our Deeds are the Reason of this #earthquake M...       1
1   4                     Forest fire near La Ronge Sask. Canada       1
2   5          All residents asked to 'shelter in place' are ...       1
3   6          13,000 people receive #wildfires evacuation or...       1
4   7          Just got sent this photo from Ruby #Alaska as ...       1

In [58]:
from nltk.tokenize import TweetTokenizer

tok = TweetTokenizer()

def tokenize_tweets(df):
    final_tokenized = []
    for i in range(len(df)):
        tokenized = tok.tokenize(df['text'][i])
        final_tokenized.append(tokenized)
        
    return final_tokenized

df_train['tok tweets'] = tokenize_tweets(df_train)
df_train.head()

,id,keyword,text,target,tok tweets
0,1,,Our Deeds are the Reason of this #earthquake M...,1,"[Our, Deeds, are, the, Reason, of, this, #eart..."
1,4,,Forest fire near La Ronge Sask. Canada,1,"[Forest, fire, near, La, Ronge, Sask, ., Canada]"
2,5,,All residents asked to 'shelter in place' are ...,1,"[All, residents, asked, to, ', shelter, in, pl..."
3,6,,"13,000 people receive #wildfires evacuation or...",1,"[13,000, people, receive, #wildfires, evacuati..."
4,7,,Just got sent this photo from Ruby #Alaska as ...,1,"[Just, got, sent, this, photo, from, Ruby, #Al..."

In [59]:
from nltk.corpus import stopwords

print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [60]:
def remove_stop_words():
    for i in range(len(df_train)):
        original_line = df_train['tok tweets'].iloc[i]
        stop_words = set(stopwords.words('english'))
        final_line = [word for word in original_line if word.lower() not in stop_words]
        df_train['tok tweets'].iloc[i] = final_line
        # print(final_line)
remove_stop_words()

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [61]:
import re
def collect_hashtags():
    hashtags = []
    regex = "#(\w+)"
    
    for i in range(len(df_train)):
        original_line = df_train['text'].iloc[i]
        hashtag_list = re.findall(regex, original_line)
        # print(hashtag_list)
        for hashtag in hashtag_list:
            # print(hashtag)
            hashtags.append(hashtag)
        original_line_list = df_train['tok tweets'].iloc[i]
        for w in range(len(original_line_list)):
            if original_line_list[w][0] == "#":
                original_line_list[w] = original_line_list[w][1:]
        df_train['tok tweets'].iloc[i] =  original_line_list
        
    # print(original_line_list)
    return hashtags
        
hashtags = set(collect_hashtags())

In [62]:
hashtags

{'romance',
 'Miami',
 'PREPPERS',
 'FreeBitcoin',
 '6',
 'LDS',
 'in',
 'professional',
 'tcot',
 'StandForWolves',
 'deai',
 'Nursing',
 '3',
 'Extinction',
 'best',
 'Anarchy',
 'Bangalore',
 'breaking',
 'load',
 'amreading',
 'NYC',
 'PlannedParenthood',
 'AllTheNews',
 'videoclip',
 'energy',
 'Kuwait',
 'Snowden',
 'BADChoices',
 'LIKES',
 'IDFire',
 'JAGM',
 'Security',
 'collegeradi',
 'Workers',
 'lucky',
 'AR',
 'explodingkittens',
 'residualincome',
 'thisispublichealth',
 'mPERS',
 'nook',
 'europe',
 'RevItUp',
 'care',
 'NashsNewVideo',
 'AZ',
 'GGIndependencMessage',
 'nlwx',
 'drained',
 'justaguess',
 'NJ36',
 'sinkhole',
 'legionstrackandfield',
 'perspective',
 'nowplay',
 'topnews',
 'loveyouuuu',
 'Zionism',
 'MasterChef',
 'minions',
 'Models',
 'ineedexposure',
 'tomclancy',
 'global',
 'seeyouatamicos',
 'smallbusiness',
 'RWA',
 'anonymous',
 'trees',
 'ENGvAUS',
 'Truth',
 'Arsenal',
 'love',
 'WeLoveYouLouis',
 'badkitty',
 'CNBC',
 'muaytai',
 'date',
 'Nytimes',
 'Wolves',
 'Niagara',
 'floods',
 'Halifax',
 'Minamisoma',
 'international',
 'presser',
 'gravitychat',
 'Weddings',
 'emmerdale',
 'KAMINDOZ',
 'IvanBerroa',
 'Fant4stic',
 'DebateQuestionsWeWantToHear',
 'Xbox',
 'MLB',
 'FDNY',
 'Terrorist',
 'promo',
 'valleywx',
 'gbbo2015',
 'wine',
 'alberta',
 'Bioterror',
 'EY',
 'PantherAttack',
 'USGS',
 'IWasDisappointedBy',
 'Magginoodle',
 'animalrescue',
 'Wimbledon',
 'Susiya',
 'GN',
 'TVJNews',
 'Desolation',
 'Japan',
 'BREAKING',
 'Henderson',
 'FIYA',
 'UdhampurAgain',
 'JonVoyage',
 'LIFE',
 'help',
 'workout',
 'NaturalDisasters',
 'BokoHaram',
 'CUFI',
 'IOT',
 'boy',
 'NP',
 'watch',
 'cumshot',
 'AshesToAshes',
 'dream',
 'NWS',
 'Newsarama',
 'casualties',
 'NASA',
 'CopaLibertadores',
 'environment',
 '22DAYS',
 'Hagerstown',
 'UTFire',
 'Kindle',
 'StandwithPP',
 'EverydayNaija',
 'AcheDin',
 'happy',
 'wcvb',
 'accidentalprophecy',
 'airplane',
 'Pandemonium',
 'BathAndNorthEastSomerset',
 'priceless',
 'BitCoin',
 'TS',
 'CAfire',
 'Politics',
 'yagitudeh',
 'Bridgetown',
 'iJETalerts',
 'failure',
 'arizona',
 'EarthQuake',
 'ABomb',
 'solar',
 'WSJ',
 'SummerFate',
 'FunnyNews',
 'Thriller',
 'HSE',
 'Fashion',
 'Phoenix',
 'Thorium',
 'pdx911',
 'truestory',
 'grants',
 'tookitlikeaman',
 'goodreads',
 'ABC',
 'California',
 'Nagasaki',
 'playlist',
 'KelbyTomlinson',
 'TheGame',
 'ushanka',
 'Whitehouse',
 'nyc',
 'Hangout',
 'canada',
 'EarthTwerk',
 'TaxReturn',
 'NoChillLukeHammings',
 '140',
 'Squad',
 'Armageddon',
 'catsofinstagram',
 'rochdale',
 'NetLabel',
 'EarthquakeNews',
 'GlobalWarming',
 'SJUBB',
 'NewEP',
 'meet',
 '163',
 'wrecked',
 'gunsense',
 'headlines',
 'WorldNews',
 'Bioterrorism',
 'BANTROPHYHUNTING',
 'Malaysia',
 'Red',
 'BHRAMABULL',
 'ashes2015',
 'RUOR',
 'IdentityTheft',
 'guardian',
 'quake',
 'thehobbit',
 'wildfire',
 'ableg',
 'HillaryClinton',
 'style',
 'Kisii',
 'SBNation',
 'courts',
 'BLOODBOUND',
 'wattpad',
 'war',
 'WE',
 '2015',
 'drone',
 'SmartNews',
 'Jiwonle',
 'now',
 'pakistan',
 'yyj',
 'ActionMoviesTaughtUs',
 'cum',
 'KPPolice',
 'IdleNoMore',
 'Labourleadership',
 'losangeles',
 'AN247',
 'tv',
 'cloud',
 'Blackpool',
 'comingsoon',
 'overwatch',
 'Christians',
 'healthinsurance',
 'stephenking',
 '0215',
 'physician',
 'RefugeesMatter',
 'Antioch',
 'pod',
 'irandeal',
 'BestTalkRadio',
 'TDP',
 'natural',
 'Kurds',
 'magic',
 'Cern',
 'TheaterShooting',
 'IranDeal',
 'TalkRadio',
 'france',
 'UltimaLucha',
 'BayArea',
 'respect',
 'Russia',
 'liveonstreamate',
 'Govt',
 'Accident',
 'gawx',
 'Airplane',
 'VarageSale',
 'SaveTi',
 'instaquote',
 'Retail',
 'Floridians',
 'horror',
 'Shestooyoung',
 'after',
 'trafficnetwork',
 'specialneeds',
 'Iraq',
 'WorldVision',
 'forex',
 'Mullah',
 'PalmOil',
 'nuclear',
 'homeimprovement',
 'EDM',
 'VuzuHustle',
 'DnB',
 'gym',
 'TopStories',
 'psd',
 'amageddon',
 'innocent',
 'phuket',
 'gbbo',
 'metrofmtalk',
 'USAR2015',
 'Babri',
 'TrainTragedy',
 'marijuana',
 'ika',
 'GFZ',
 'sms',
 'androidgames',
 'romanticsuspense',
 'MTA',
 'TurboJet',
 'fun',
 'OKTXDUO',
 'SFGiants',
 'coppednews',
 'WorldWatchesFerguson',
 'Battlefield',
 'NBA',
 'Somalia',
 'Paraguay',
 'comedy',
 'Montgomery',
 'handbag',
 'followme',
 'course',
 'ukfloods',
 'nazis',
 'PieceOfMe',
 'Manchester',
 'JFB',
 'follow',
 'ES',
 'warmbodies',
 'image',
 'EventsPalmBeach',
 'Fukushima',
 'ems',
 'emsc',
 'MAPLERIDGE',
 'BJP',
 'FinsUp',
 'datingtips',
 'Wahhabism',
 'FUKUSHIMA',
 'DoubleGhats',
 'vanpoli',
 'photo',
 'NissanNews',
 'duststorm',
 'Kick',
 'retweet',
 'traumatised',
 'Russian',
 'EvilEmpire',
 'TMS7',
 'sizewell',
 'CatfishMTV',
 'july',
 'Borderlands',
 'BC19',
 'Breaking',
 'GoKitGo',
 'Nigeria',
 'Babies',
 'AU',
 'YoNews',
 'TEPCO',
 'abandoned',
 'Afterlife',
 'autismawareness',
 'tcotåÊ',
 'earthquake',
 'california',
 'Trump',
 '38745',
 'win',
 'France',
 'Torrance',
 'Denver',
 'FreeAmirNow',
 'Allah',
 'MumbaiRiot92',
 'Love',
 '4',
 'winechat',
 'aeroplane',
 'Buffalo',
 'Hazard',
 'cricket',
 'Homosexuality',
 'assnchat',
 'tbt',
 'livelihood',
 'weather',
 'cyber',
 'seismic',
 'film4',
 'Avalanche',
 'investing',
 'business',
 'calfires',
 'RedSox',
 'DFIR',
 'newyork',
 'summertime',
 'shooting',
 'Occasion2B',
 'Pathogen',
 'Clip',
 'Traffic',
 'RT',
 'Breaking144',
 'fires',
 'wired',
 'dagens',
 'Subs',
 'TY',
 'GrowingUpSpoiled',
 'king',
 'abc7eyewitness',
 'GalvNews',
 'JustinBieber',
 'tigers',
 'PTSD',
 'Olympia',
 'nopower',
 'DroughtMonitor',
 'life',
 'privacy',
 'USA',
 'StreetjamzDotNet',
 'round2',
 'dead',
 'ElephantInTheRoom',
 'NY35',
 'liveonKBAK',
 'ROIMentor',
 'bancodeseries',
 'gymflow',
 'Lesbian',
 'writingtips',
 'offers2go',
 'ZIPHIMUP',
 'Boston',
 'China',
 'NOWPLAYING',
 'interest',
 'MoreVoices',
 'Amsterdam',
 'storm',
 'CecilTheLion',
 'Author',
 'Labour',
 'hiroshima',
 'MeditationByMSG',
 'YZF',
 'PapiiChampoo',
 'listen',
 'TrapMusic',
 'charminar',
 'Zimmerman',
 'nude',
 'genocide',
 'pbs',
 'Emmerdale',
 'AIDS',
 'book',
 'ShantaeForSmash',
 'b2bagency',
 'MN',
 'econom',
 'CCMusic',
 'MrRobinson',
 'FIFA16',
 'JTW',
 'RIOT',
 'expertwhiner',
 'NowPlaying',
 'preppertalk',
 'cold',
 'Deaths',
 'Destroy',
 'bomb',
 'silver',
 'gms',
 'NY',
 'childhood',
 'TrueLove',
 'bb17',
 'coke',
 'wealth',
 'airport',
 'baby',
 'christianvalues',
 'Anchorage',
 'notgoingoutinthat',
 'InsaneLimits',
 'AskCharley',
 'Spotlight',
 'greatbritishbakeoff',
 'gfe',
 'Flood',
 'raisinfingers',
 'ElectronicMusic',
 'Tampa',
 'TRC',
 'thunderstorm',
 'CRI',
 'adult',
 'thankU',
 'Prison',
 'Myanmar',
 'hurricane',
 'brixton',
 'gaming',
 'Reidlake',
 'annonymous',
 'MGTAB',
 'Swag',
 'Family',
 'obliteration',
 'G90',
 'danger',
 'nlccollide',
 '8217',
 'MHT',
 'photography',
 'ArrestPastorNganga',
 'OpSeaWorld',
 'LiveOnK2',
 'Tigers',
 'GujaratRiot',
 'benews',
 'ButGod',
 'MuhamadJabal',
 'russia',
 'FTW',
 'Hinatobot',
 'reddit',
 'VRA50',
 'japan',
 'pearlharbor',
 'drones',
 'rock',
 'Conversations',
 'GamerGate',
 'prebreak',
 'Atlanta',
 'crimes',
 'reno',
 'WATERMELOANN',
 'Norge2040',
 'RAmag',
 'IMDb',
 'rememberRABAA',
 'Families',
 'iraq',
 'TNA',
 'Worldnews',
 'don',
 'assassins',
 'Reddit',
 'virus',
 'nra',
 'Syria',
 'TRAFFICALERT',
 'bookmobile',
 'entretenimento',
 'WPO',
 'personalinjury',
 'AFC',
 'RealHiphop',
 'breakingnews',
 'atk',
 'leadership',
 'deep',
 'MH370',
 'ChildSexAbuse',
 'ModiMinistry',
 'Bestnaijamade',
 'weed',
 'hiphop',
 'triciaoneill',
 'JSunNews',
 'nsfw',
 'Landslide',
 'MeteoEarth',
 'hotnewscake',
 'copped',
 'inspiration',
 'song',
 '5SOSFAM',
 'exec',
 'tribal',
 'TheDoolingGroup',
 'capeann',
 'glanders',
 'SouthLine',
 'shakeology',
 'accident',
 'BlueJays',
 'BTS',
 'Mets',
 'Earthquake',
 'amicospizzato',
 'Newswatch',
 'WxKY',
 'thereisonlysex',
 'Warcraft',
 'ParkChat',
 'scichat',
 'LakeIsabella',
 'freespeech',
 'MicheleBachman',
 'myreligion',
 'TheSteveHarveyShow',
 'cawx',
 'GoBlue',
 'Mediterranean',
 'hitting',
 'TRS',
 'stoponesounds',
 'LoveFood',
 'cc',
 'Ashes',
 'Latestnews',
 'fierce',
 'Manhood',
 'alwx',
 'NestleIndia',
 'twia',
 'SuryaRay',
 'USWarCrimes',
 'LegionnairesDisease',
 'AddTexasToNext1DTour',
 'holomua',
 'RickPerry',
 'SaveDenaliWolves',
 'Nevada',
 'Algeria',
 'Video',
 'Chicago',
 'Humble',
 'BlackInAmerica',
 'HungerArticles',
 'growingupincolorado',
 'lightning',
 'Handbag',
 'lava',
 'Earth',
 'disasterrecovery',
 'crash',
 'Annoucement',
 'yazidi_shingal_genocide',
 'ISIS',
 'SM',
 'Chronicillness',
 'Mumbai',
 'AskConnor',
 'forest',
 'Yazidi',
 'DOOMSDAY',
 'deepthoughts',
 'Bethlehem',
 'LakeEffect',
 'GOP',
 'paramedics',
 'Thunder',
 'GRupdates',
 'porn',
 'EMERGENCY',
 'Canada',
 'NS',
 'ms',
 'lessonforlife',
 'Gunsense',
 'fashion',
 'LiteraryCakes',
 '2MinuteMix',
 'IndiaTV',
 'real',
 'evacuate',
 'greetingcards',
 'YAHIstorical',
 'Asia',
 'KILLHARD',
 'seagulls',
 'tsunami',
 'OKwx',
 'Womens',
 'DNA',
 'JonathanFerrell',
 'snooker',
 'back',
 'BlowMandyUp',
 'ABCNews',
 'TCOT',
 'ClimateChange',
 'frontpage',
 'artectura',
 'Muppet',
 'bcpoli',
 'CarFest',
 'hazmat',
 'jazz',
 'okwx',
 'Jackson',
 'mybabies',
 'HS2',
 'russian',
 'nowplaying',
 'safety',
 'FN',
 'winter',
 'usNWSgov',
 'SpeakingFromExperience',
 'Taiwan',
 'yycstorm',
 'LungCancer',
 'Jobs',
 'Boulder',
 'TeamFollowBack',
 'humanconsumption',
 'FB100',
 'Ebola',
 'firemen',
 'Playoffs',
 'TweetLikeItsSeptember11th2001',
 'LosAngelesTimes',
 'porno',
 'Sismo',
 'TubeStrike',
 'Arkansas',
 'azwx',
 'cats',
 'publichealth',
 'NewsInTweets',
 'Hiroshima',
 'geoTech',
 'puppy',
 'HeartDisease',
 'TornadoGiveaway',
 'orcot',
 'endangered',
 'thedarktower',
 'FaroeIslands',
 'Colorado',
 'scwx',
 'TexasChainsawMassacre',
 'AfricansInSF',
 'MakeWaterWork',
 'BeyondGPS',
 'Vegetarian',
 'CedarGlade2015',
 'kml',
 'Australia',
 'WesternCanadaDrought',
 'Grindhouse',
 'ReggaeBoyz',
 'PeritoEnGrafoscopia',
 'Lies',
 'yes',
 'ptsdchat',
 'Savebees',
 'JP',
 'cakes',
 'UFO4UBlogEurope',
 'GISHWHES',
 'enkelbiljett',
 'Deals_UK',
 'worldNews',
 'demonization',
 'Wattpad',
 'cool',
 'EzidiGenocide',
 'digitalhealth',
 '7NewsAdl',
 'Astrology',
 'climatechange',
 'travel',
 'Emergency',
 'Cubs',
 'FlavorChargedTea',
 'Bible',
 'cantwaittoplayinminneapolis',
 'Shanghai',
 'Ashville',
 'LoveMyJob',
 'jobs',
 'Clinton',
 'katterpÌ',
 'G',
 'FOAMcc',
 'wdyouth',
 'dam',
 'movie',
 'politics',
 'DecisionsOnDecisions',
 'randomthought',
 'gemma',
 'BeClearOnCancer',
 'sydtraffic',
 'WindStorm',
 'Entertainment',
 'mÌ¼sica',
 'Twimbos',
 'Death',
 'roberts',
 'survived',
 'LES',
 'populardemand',
 'NewYork',
 'diet',
 'Takecare',
 'check',
 'Shelli',
 'DoubleCups',
 'robertwelch',
 'Demolition',
 'Defendant',
 'deluge',
 'FanArmyFaceOff',
 'FreeALLFour',
 'tos',
 'st',
 'destruction',
 'Mainstage',
 'Facebook',
 'DestinationIMPACT',
 'dumle',
 '2A',
 'Newyear',
 'TeamHennessy',
 'hyperbole',
 'bestseller',
 'Luck',
 'asian',
 'Reflect',
 'FollowBack',
 'RIP',
 'Technology',
 'lol',
 'cdnpoli',
 'rapidcity',
 'aftershock',
 'StandUp',
 'avalanche',
 'wildfires',
 'iphone',
 'adjust',
 'ScrapTrident',
 'Hampshire',
 'DC',
 'Tech',
 'HHBU',
 'Putin',
 'KOIN6News',
 'burnfat',
 'cnbc',
 'bannukes',
 'ColoradoAvalanche',
 'pics',
 'Deluge',
 'US',
 'asae15',
 'VMAs',
 'TNN',
 'SaltRiverWildHorses',
 'nativehuman',
 'RRBC',
 'wish',
 'CubsTalk',
 'preparedness',
 'byebyesoundcloud',
 'ArtistsUnited',
 'Sinjar',
 'skardu',
 'Aus',
 'evacuation',
 'euro',
 'CNN',
 'BODY',
 'BanTheBomb',
 'SoundCloud',
 'catastrophe',
 'treescape',
 'pussy',
 'FirstNations',
 'riders',
 'free',
 'offshore',
 'StrategicPatience',
 'mlm',
 'NJ',
 'Markets',
 'Alps',
 'SigAlert',
 'property',
 'ThomasSMonson',
 'yemen',
 'mumbailocals',
 'WNIAGospel',
 'pjnet',
 'chinadotcom',
 'WPS',
 'aerospace',
 'NashvilleTraffic',
 'Redblood',
 '263Chat',
 'LoseIt',
 'Columbus',
 'Tribe',
 'BadIranDeal',
 'renew911health',
 '24',
 'arts',
 'AyekoRadio',
 'icelandreview',
 'Iran',
 'GoVegan',
 'WX',
 'OilandGas',
 'donthate',
 'Illinois',
 '06',
 'trollingtilMeekdiss',
 'BeCarefulHarry',
 'HarryStyles',
 'BeSafe',
 'ContentMarketing',
 'whoops',
 'givebackkalinwhiteaccount',
 'ArtisteOfTheWeekFact',
 'emergency',
 'filipino',
 'pugprobs',
 'Pitchwars',
 'gloucester',
 'cossack',
 'WA',
 'tw4rw',
 'Lancaster',
 'FantasticFour',
 'driverlesscars',
 'cowx',
 'teenfiction',
 'JetEngine',
 '365disasters',
 'swim',
 'e',
 'LoMasVisto',
 'NorthernCalifornia',
 'YolandaPh',
 'yycweather',
 'sejorg',
 'AFRICANBAZE',
 '999day',
 'Indonesia',
 'SoothMySlumber',
 'Marijuana',
 'Vancouver',
 'nojoke',
 'Free',
 'Chelsea',
 'Mystery',
 'Foxnews',
 'procedures',
 'FroFroFro',
 'eBay',
 'foodscare',
 'blessed',
 'Nå¼36',
 'science',
 'Tanzania',
 'Amazon',
 'Jamaica',
 'SCSeEstaPreparando',
 'download',
 '4PlayThursdays',
 'Rohingya',
 'SUN',
 'NoIranDeal',
 'hiring',
 'FOAMed',
 'Aircraft',
 'Albany',
 'lawx',
 'Photography',
 '3Novices',
 'what',
 'gadget',
 'ThingsIhate',
 'PrayForSaipan',
 'BakeOffFriends',
 'eonlinechat',
 ...}

In [63]:
def remove_mentions():
    regex = "@(\w+)"
    for i in range(len(df_train)):
        original_line = df_train['text'].iloc[i]
        original_line_list = df_train['tok tweets'].iloc[i]
        mention_list = re.findall(regex, original_line)
        df_train['tok tweets'].iloc[i] = [word for word in original_line_list if word[1:] not in mention_list]
        # print(df_train['tok tweets'].iloc[i])
        
remove_mentions()

In [64]:
def remove_punctuations():
    # takes care of all the links as well as links are not alpha numeric
    for i in range(len(df_train)):
        original_line = df_train['tok tweets'].iloc[i]
        final_line = [word for word in original_line if word.isalnum()]
        df_train['tok tweets'].iloc[i] = final_line
        # print(final_line)
remove_punctuations()

In [65]:
df_train.head()

,id,keyword,text,target,tok tweets
0,1,,Our Deeds are the Reason of this #earthquake M...,1,"[Deeds, Reason, earthquake, May, ALLAH, Forgiv..."
1,4,,Forest fire near La Ronge Sask. Canada,1,"[Forest, fire, near, La, Ronge, Sask, Canada]"
2,5,,All residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o..."
3,6,,"13,000 people receive #wildfires evacuation or...",1,"[people, receive, wildfires, evacuation, order..."
4,7,,Just got sent this photo from Ruby #Alaska as ...,1,"[got, sent, photo, Ruby, Alaska, smoke, wildfi..."

In [66]:
def remove_shorts():
    for i in range(len(df_train)):
        original_line = df_train['tok tweets'].iloc[i]
        final_line = [word for word in original_line if len(word) > 3]
        df_train['tok tweets'].iloc[i] = final_line
        
remove_shorts()

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [67]:
df_train.head()

,id,keyword,text,target,tok tweets
0,1,,Our Deeds are the Reason of this #earthquake M...,1,"[Deeds, Reason, earthquake, ALLAH, Forgive]"
1,4,,Forest fire near La Ronge Sask. Canada,1,"[Forest, fire, near, Ronge, Sask, Canada]"
2,5,,All residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o..."
3,6,,"13,000 people receive #wildfires evacuation or...",1,"[people, receive, wildfires, evacuation, order..."
4,7,,Just got sent this photo from Ruby #Alaska as ...,1,"[sent, photo, Ruby, Alaska, smoke, wildfires, ..."

In [69]:
from nltk.stem import WordNetLemmatizer

def lemmatize():
    lem = WordNetLemmatizer()
    for i in range(len(df_train)):
        original_line = df_train.loc[i, 'tok tweets']
        for j in range(len(original_line)):
            x = lem.lemmatize(original_line[j].lower())
            df_train.loc[i, 'tok tweets'][j] = x
        # print(original_line)
lemmatize()

In [70]:
df_train.head()

,id,keyword,text,target,tok tweets
0,1,,Our Deeds are the Reason of this #earthquake M...,1,"[deed, reason, earthquake, allah, forgive]"
1,4,,Forest fire near La Ronge Sask. Canada,1,"[forest, fire, near, ronge, sask, canada]"
2,5,,All residents asked to 'shelter in place' are ...,1,"[resident, asked, shelter, place, notified, of..."
3,6,,"13,000 people receive #wildfires evacuation or...",1,"[people, receive, wildfire, evacuation, order,..."
4,7,,Just got sent this photo from Ruby #Alaska as ...,1,"[sent, photo, ruby, alaska, smoke, wildfire, p..."

In [23]:
df_test = pd.read_csv("test.csv")
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [24]:
df_test.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [25]:
len(df_test)

3263

In [26]:
df_test.drop(columns=['location'], inplace = True)
df_test.head()

   id keyword                                               text
0   0     NaN                 Just happened a terrible car crash
1   2     NaN  Heard about #earthquake is different cities, s...
2   3     NaN  there is a forest fire at spot pond, geese are...
3   9     NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [27]:
df_test['keyword'].fillna(" ", inplace = True)
df_test.head()

   id keyword                                               text
0   0                         Just happened a terrible car crash
1   2          Heard about #earthquake is different cities, s...
2   3          there is a forest fire at spot pond, geese are...
3   9                   Apocalypse lighting. #Spokane #wildfires
4  11              Typhoon Soudelor kills 28 in China and Taiwan